* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.logo {
  margin: 0 0 0 33%;
}

.navbar {
  background-color: darkgray;
}

.lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  font-size: 25px;
  margin: 0rem 2rem 0rem 2rem;
  font-weight: 1000;
}

.cart {
  height: 35px;
  width: 60px;
  margin-right: 0;
}

.contador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 700;
}

.btn-secondary {
  font-size: 20px;
  width: 2.5rem;
}

.btn-light {
  border: solid 2px lightgray;
  margin-top: 2rem;
}

.card {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
